.THA {
    text-align: left;
    font-size: x-large;
    background-color: dodgerblue;

}

.photoActeur {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.poster {
    height: 100%;
    width: 100%;

}

.caracter {
    font-style: italic;
    color: dodgerblue;
}



body {
    background-image: linear-gradient(turquoise, blue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.headTittle {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    font-size: xx-large;

}

table {
 background-color: white;
}

.synopsis {
    text-align: left;
    font-size: larger;
}

.listHeads{
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    font-size: larger;
}

.underHeadList{
    list-style-type:disc;
}
